html {	
	font-size: 62.5%;
}

h1,
h2,
h3,
p {
	font-weight: $font-weight-light;
}

h1 {
	@include fontsize(3, 3);
	font-style:normal;
	margin:0;
	color:$white;
}

h1:before {
	content:'';
	display:block;
	width:19px;
	height:1px;
	background-color:$highlight-type;
	margin:60px 0 40px 3px;
}

h2 {
	@include fontsize(1.8, 2);
	margin:0 0 40px 2px;
	color:$highlight-type;
}


h3 {
	@include fontsize(1.4, 1.7);
	margin: 0 0 0 3px;
}


p { 
	@include fontsize(1.6, 1.8);
	margin: 0 0 40px 3px; 
	color:$white;
}

ul {
	margin:0;
	padding:0;

	li {
		@include fontsize(1.4, 1.7);
		font-weight: $font-weight-light;
		list-style: none;
		margin:0 0 0 3px;
		padding:0;
	}
}



a,
a:visited,
a:link {

	color:$highlight-type;
	text-decoration: none;

}

a:hover {
	border-bottom:1px dotted $highlight-type;
}

@media screen and (min-width: 480px) {

	h1 {
		@include fontsize(4, 4);
		margin-bottom:3px;
	}

	h2 {
		@include fontsize(2.1, 2.4);
	}
}
